# Python
__pycache__/
*.py[cod]

# Virtual environment
venv_cacho/
.env

# React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Mac/IDE files
.DS_store
.idea/
**/.DS_Store

